@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: Montserrat;
    margin: 0%;
    padding: 0%;
}

.nav-section {
    background-color: #636c79;
    height: 100vh;
}
nav {
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    height: 10vh;
}
nav img {
    width: 150px;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.list-item {
    color: #fff;
}
.Lets-talk {
    border: 1px solid #787d85;
    background-color: #636c79;
    color: #fff;
    padding: 10px 35px;
}
.first-section {
    padding: 2% 8%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.left-img {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 45%;
    height: 100%;
}
.left-img img {
    width: 110%;
    height: 80%;
}
.right-header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: #ffffff;
}
.main-heading {
    font-family: Raleway;
    font-size: 3.5rem;
    margin: 0px;
}
.right-header p {
    line-height: 2;
}
.lets-talk {
    padding: 15px 10px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.envelope-icon {
    color: #000;
}
.enter-email {
    border: none;
    background: #fff;
    margin-left: 10px;
}
.submit {
    margin-left: 7.5rem;
    padding: 17px 40px;
    border: none;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    background-color: #8bb7a2;
    color: #fff;
}
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4%;
}
.second-section-heading {
    text-align: center;
    font-family: Raleway;
    font-size: 2.5rem;
    color: #333;
}
.second-section-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
.sec-2-list-item {
    text-align: center;
}
.sec-2-list-item h2 {
    font-size: 1.8rem;
}
.sec-2-list-item p {
    color: #333;
    font-size: 1rem;
}
.img-2 {
    width: 75%;
}
.third-section-heading {
    margin-top: 7%;
    text-align: center;
    font-family: Raleway;
    font-size: 3rem;
    color: #333;
}
.third-section-main {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 9rem;
}
.img-3 {
    float: right;
    width: 40%;
}
.third-section-main-item1-content {
    float: left;
}
.third-section-main-item1-content h2 {
    font-family: Raleway;
    font-size: 2.5rem;
    line-height: 1.5;
}
.third-section-main-item1-content p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}
.chat {
    margin-top: 3rem;
    padding: 25px 50px;
    border: none;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #8bb7a2;
    color: #fff;
}
.img-4 {
    float: left;
    width: 40%;
}
.third-section-main-item2-content {
    float: right;
}
.third-section-main-item2-content h2 {
    font-family: Raleway;
    font-size: 2.5rem;
    line-height: 1.5;
}
.third-section-main-item2-content p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}
.img-5 {
    float: right;
    width: 40%;
}
.third-section-main-item3-content {
    float: left;
}
.third-section-main-item3-content h2 {
    font-family: Raleway;
    font-size: 2.5rem;
    line-height: 1.5;
}
.third-section-main-item3-content p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
}
.fourth-section {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.fourth-section-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.fourth-section-heading h1 {
    font-family: Raleway;
    font-size: 2.5rem;
    line-height: 1.5;
}
.fourth-section-heading p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #333;
}
.fourth-section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.fourth-section-main-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.fourth-section-main-item p {
    font-size: 1rem;
}
.img-6 {
    width: 80%;
}
.img-7 {
    width: 80%;
}
.img-8 {
    width: 80%;
}
.see-more {
    width: 200px;
    margin-top: 3rem;
    padding: 20px 40px;
    border: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    background-color: #8bb7a2;
    color: #fff;
}
.footer {
    padding: 5% 10%;
    background-color: #10181d;
    color: #fff;
}
.footer-logo {
    padding-bottom: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #282f34 solid 0.1em
}
.logo {
    width: 10%;
}
.links {
    display: flex;
    gap: 2rem;
}
.icon {
    color: #fff;
}
.footer-main {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-headings {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}


@media screen and (max-width: 867px) {

    nav img {
        width: 100px;
    }
    .list {
        display: none;
    }
    /* .Lets-talk {
        border: 1px solid #787d85;
        background-color: #636c79;
        color: #fff;
        padding: 5px 15px;
    } */
    .left-img {
        display: none;
    }
    .right-header {
        padding-top: 60px;
        margin-left: 60px;
    }
    .main-heading {
        font-size: 50px;
    }
    .lets-talk {
        padding: 0px;
    }
    .submit {
        margin-left: 130px;
        padding: 15px 30px;
    }
    .second-section-heading {
        font-size: 30px;
    }
    .third-section-heading {
        margin-top: 7%;
        font-size: 30px;
    }
    .img-3 {
        margin-right: 100px;
        width: 70%;
    }
    .third-section-main-item1-content {
        float: left;
        margin-left: 70px;
    }
    .third-section-main-item1-content h2 {
        font-size: 30px;
    }
    .third-section-main-item1-content p {
        font-size: 15px;
        line-height: 1.5;
    }
    .chat {
        margin-top: 10px;
        padding: 15px 40px;
    }
    .img-4 {
        float: left;
        width: 60%;
        margin-left: 100px;
    }
    .third-section-main-item2-content h2 {
        font-size: 30px;
        margin-left: 80px;
        line-height: 1.5;
    }
    .third-section-main-item2-content p {
        color: #333;
        font-size: 20px;
    }
    .img-5 {
        float: right;
        width: 70%;
        margin-right: 80px;
    }
    .third-section-main-item3-content h2 {
        font-size: 30px;
        margin-left: 80px;
    }
    .third-section-main-item3-content p {
        font-size: 20px;
    }
    .fourth-section-heading {
        flex-direction: column;
    }
    .fourth-section-heading h1 {
        font-size: 30px;
    }
    .fourth-section-heading p {
        font-size: 20px;;
    }
    .fourth-section-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .fourth-section-main-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .fourth-section-main-item p {
        font-size: 1rem;
    }
    .img-6 {
        width: 80%;
    }
    .img-7 {
        width: 80%;
    }
    .img-8 {
        width: 80%;
    }
    .see-more {
        width: 180px;
        margin-top: 10px;
        padding: 15px 40px;
    }
    .footer {
        padding: 5% 10%;
        background-color: #10181d;
        color: #fff;
    }
    .footer-main p {
        font-weight: 700;
        color: #fff;
        font-size: 11px;
    }

}